<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html class="ng-scope" ng-app="helloApp">
<head>
<title>Search Available Number</title>
<!--Custom Theme files-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <script
	src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular.min.js"></script>
	<script
	src="js/app.js"></script>
	<script
	src="js/jquery-min.js"></script>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!--web-fonts-->
<link href='//fonts.googleapis.com/css?family=Jura:400,300,500,600' rel='stylesheet' type='text/css'>
<!--//web-fonts-->
</head>
<body class="ng-scope" ng-controller="HttpController">
	<h1>Search Available Number</h1>
	<!-- main -->
	<div class="main">
		<!--login-profile-->
		
		<!--login-profile-->
		<!--signin-form-->
		
		<div class="agile">
			<div class="signin-form profile" id="form">
				<div class="login-form">
					<form action="#" method="post" >
						<!-- <input type="text" name="name" placeholder="Realname" required=""> -->
						<input type="text" ng-model="formData.username" placeholder="Username" required="">
						<span1 ng-bind="span1" style="color:red;"></span1>
						<input type="password" ng-model="formData.password" placeholder="Password"
							required=""> 
							<span1 ng-bind="span5" style="color:red;"></span1>
							 <input
							type="text" ng-model="formData.pattern" placeholder="Number Pattern"
							required="">
							<input
							type="text" ng-model="formData.mobileNumber" placeholder="Mobile Number"
							required="">
							<span1 ng-bind="span2" style="color:red;"></span1> 
							<select ng-model="formData.country" class="select">
							<option value="">-- Select a Country --</option>
							<option ng-repeat="country in countries" value="{{country.code}}">{{country.name}}</option>
						</select> 
						<span1 ng-bind="span3" style="color:red;"></span1>
						<button type="button" class="btn-primary"
												ng-click="processForm()" data-dismiss="modal">Acquire Number</button>

					</form>
				</div>
				
			</div>
			
			<div class="panel panel-success panel-drop" id="successpanel"
						style="display:none;background-color: white; ">
						<div class="panel-heading">
							<header class="panel-title" >
								<h5><b>This is The available Number: {{smscArr.msisdn}}</h5>
								</br> Click To confirm</b>
							</header></br>
							<button type="button" class="btn-primary"
												ng-click="buyNumber()" data-dismiss="modal">Confirm Number</button>
						</div>
					
					</div>
					<div class="panel panel-success panel-drop" id="successResponsepanel"
						style="display: none">
						<div class="panel-heading">
							<header class="panel-title">
							<h5><b>The Number Confirmed Successfully</b></h5>
							</br>
							Your Message Tab is activated now
								
							</header>
							
						</div>
					
					</div>
					<div class="panel panel-success panel-drop" id="FailPanel"
						style="display: none">
						<div class="panel-heading">
							<header class="panel-title">
								<b>Please Enter Correct Username and Password </b>
							</header>
							
						</div>
					
					</div>
		</div>
		<div class="clear"></div>
		<!--//signin-form-->	
	</div>
					
</body>
</html>